$primary-red: #ED183C;
$black: #000103;
$black-accent: #0C0C0C;
$grey: #ccd2e3;
$white: #F0F1F1;
$blue: #222438;


:export {
  primary-red: $primary-red;
  black: $black;
  black-accent: $black-accent;
  grey: $grey;
  white: $white;
  blue: $blue;
}
