@import "./breakpoints.scss";
@import "./colours.scss";

.wrapper{
    background-color: $black;
    font-family: 'Courier New', Courier, monospace;
    color: $white;

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 20px 60px 20px 60px;
        background-color: $black-accent;

        .nav-right {
            display: flex;
            align-items: center;

            p {
                margin-right: 30px;

                &:hover{
                    color: $primary-red;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .scroller{
        display: flex;
        flex-direction: column;

        .point {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $primary-red;
            position: relative;

            
            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $blue;
            }
        }

        hr{
            height: 40px;
            width: 0;
            margin-left: 9px;
            color: $white;
        }
    }

    .about-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 100px;

        .about-left {
           width: 530px;;

           .name {
            display: flex;
            .red-square{
                width: 7px;
                height: 32px;
                background-color: $primary-red;
              }
   
              h1 {
                text-decoration: underline;
                text-decoration-color: $primary-red;
                margin-bottom: 40px;
              }  
           }

           .bio {
             margin-bottom: 40px;
           }

           .bio-red {
             color: $primary-red;
           }

           .about-info{
             display: flex;
             justify-content: space-between;
             margin-bottom: 10px;

             .info-header{
               font-weight: bold; 
             }
           }
        }
    }
}