@import "./breakpoints.scss";
@import "./colours.scss";

.wrapper{
    background-color: $black;
    font-family: 'Courier New', Courier, monospace;
    color: $white;

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 20px 60px 20px 60px;
        background-color: $black-accent;

        .nav-right {
            display: flex;
            align-items: center;

            p {
                margin-right: 30px;

                &:hover{
                    color: $primary-red;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .scroller{
        display: flex;
        flex-direction: column;

        .point {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $primary-red;
            position: relative;

            
            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $blue;
            }
        }

        hr{
            height: 40px;
            width: 0;
            margin-left: 9px;
            color: $white;
        }
    }

    .about-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 100px;

        .about-left {
           width: 530px;;

            .info-wrapper {
                opacity: 0;
                animation: fadeInUp 2s forwards;
                animation-delay: 5s;
            }

            h1 {
              overflow: hidden; 
              text-decoration: underline;
              text-decoration-color: $primary-red;
              border-right: .15em solid $primary-red; 
              white-space: nowrap; 
              margin: 0 auto;
              letter-spacing: .15em; 
              margin-bottom: 40px;
              animation: 
                typing 3.5s steps(40, end),
                blink-caret .75s step-end infinite;
              }

              @keyframes fadeInUp {
                from { 
                    transform: translate3d(0,40px,0);
                }
                to { 
                    transform: translate3d(0,0,0); 
                    opacity: 1;
                }
              }
              
              @keyframes typing {
                from { width: 0 }
                to { width: 100% }
              }
              
              @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: $primary-red; }
              }
           

           .bio {
             margin-bottom: 40px;
           }

           .bio-red {
             color: $primary-red;
           }

           .about-info{
             display: flex;
             justify-content: space-between;
             margin-bottom: 10px;

             .info-header{
               font-weight: bold; 
             }
           }
        }

        .about-right {
            position: relative;
            .blur {
                width: 280px;
                height: 280px;
                background-color: $primary-red;
                border-radius: 50%;
                filter: blur(50px)
            }

            img {
                position: absolute;
                top: -60px;
                left: 20px;
                opacity: 0;
                animation: fadeInUp 2s forwards;
                animation-delay: 5s;
            } 
        }
    }
}